@keyframes fadeInUp {
    0% {
        opacity: 0;    
        transform: translateY(20px);
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transform: scale(1.0);
    }
}

@keyframes fadeInFromBlack {
    0% {
        opacity: 0.8;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color: transparent;
    }
}
@keyframes slideX {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(8px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .group:hover button svg {
    animation: slideX 0.6s ease-in-out infinite;
  }

#home-container {
    animation: fadeInFromBlack 2s ease-out forwards;
}

.welcome-text-container {
    animation: fadeInUp 1.5s ease-out forwards;
}

